@import "_values.scss";
@import "_mixins.scss";
/* @font-face {
  font-family: 'aulp';
  src: local('aulp'), url('') format('woff');
} */

* {
  box-sizing: border-box;
}
html {
  font-family: 'aulp', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  height: 750px;
}

.page-container {
  width: 100%;
  &_background-coffemilk {
    background-color: $coffemilk;
  }
  &_height {
    height: 61px;
  }
}
