@import "values.scss";
.header-container {
  width: 100%;
  position: fixed;
  box-shadow: 0 -2px 15px black;
  background-color: #fff;
}
.content-container {
  max-width: 1250px;
  margin: auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: height 0.5s;
  &__link {
    display: inline-block;
    font-weight: bold;
    margin: 0 15px;
    height: 100%;
    padding: 20px 10px;
    transition: color 0.3s;
    &:hover {
      color: $coffemilk;
    }
  }
  &__container {
    list-style: none;  
    margin: 0;
    padding: 0;
    transition: font-size 0.3s;   
  }
  &__element {
    display: inline-block;
  }
}
.menu-icon {
  height: 21px;
  width: 30px;
  flex-direction: column;
  justify-content: space-between;  
  display: none;
  margin: 20px 10px;
  &_active &__element:first-child{
    transform: translate(0, 10px) rotate(-45deg);      
  }
  &_active &__element:nth-of-type(2){
    display: none;      
  }
  &_active &__element:last-child{
    transform: translate(0, -9px) rotate(45deg);      
  }
  &__element {
    border: 1px solid black;
    width: 100%;
    transition: all 1s;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    align-items: flex-start;
    &__container {
      font-size: 0; 
      &_active {
        background-color: #fff;
        font-size: 16px;
        position: absolute;
        width: 100%;
        top: 60px;
        right: 0;   
        & .menu__element {
          display: block;
        }
      }
    }
  }
  .menu-icon {
    display: flex;
  }  
}