@import "values.scss";
.header-container {
  width: 100%;
  position: fixed;
  box-shadow: 0 -2px 15px black;
  padding: 20px 0;
  background-color: #fff;
}
.content-container {
  max-width: 1250px;
  margin: auto;
}
.menu {
  display: flex;
  justify-content: space-between;

  &__element {
    padding: 0 15px;
    font-weight: bold;
    transition: 0.3s color;
    &:hover {
      color: $coffemilk;
    }
  }
}
