.section-container {
  max-width: 1200px;
  padding: 55px 5px;
  margin: auto;
  &_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_reverse {
    flex-direction: row-reverse;
  }
  &__img {
    width:  650px;
  }
}

.content {
  min-width: 400px;
  &__title {
    font-size: 32px;
    &_white {
      color: white;
    }
  }
  &__button {
    padding: 15px 40px;
      background-color: black;
      border: none;
      border-radius: 40px;
      color: white;
      font-size: 20px;
  }
  &__img {
    &_right {
      float: right;
    }
  }
}

.list {
  &_right {
    float: right;
  }
  &__element {
    margin: 25px 0;
  }
}