.container {
    width: 500px;
    border: 1px solid #000;
    margin: 100px auto;
    position: relative;
}
.title {
    padding: 15px;
    background-color: lightgray;
    margin: 0;
}
.section {
    height: 52px;
    transition: height 0.3s;
    &__active {
        height: auto
    }
}
.content {
    background-color: yellow;
    padding: 15px;
    margin: 0;
    text-align: justify;
    transform-origin: top;
    transition: all 0.2s;
    transition-delay: 0.1s;
    transform: scaleY(0);
    
    &__active {
        height: initial;     
        transform: scaleY(1);


    }

}