* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-style: italic;;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container {    
    background-color: darkblue;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__title {
        color: white;
        padding: 15px;
        margin: 0;
        font-size: 50px;
    }
    &__tree {
        position: relative;
        bottom: -12px;
    }
    &__snow {
        position: fixed;
        color: white;
        font-size: 40px;
        position: absolute;
        top: -30px;
        transition: all 5s ease-out;
        &_down {
            transform: translateY(93vh) rotate(500deg);
        }
    }

    &__block {
        position: relative;
    }
    
    
}
.snow {
    flex-grow: 1;
    background-color: #fff;
    background-color: white;
    border: 1px solid #000;
    
}
.line {
    display: flex;    
    position: absolute;
    height: 200px;
    width: 150px;
    top: 135px;
    left: 50%;
    transform: translate(-50%) rotate(15deg);    
    flex-wrap: wrap;
    &__lamp {
        position: relative;
        margin: 5px;        
        width: 25px;
        height: 25px;
        border: 1px solid #000;
        border-radius: 50%;
        transform: rotate(-15deg);
        &::before {
            content: "";
            width: 2px;
            height: 15px;
            background-color: gold;
            position: absolute;
            left: 50%;
            top: -15px;
            transform: translateX(-50%);
        }
    }

}
.control-elements {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    
    height: 250px;
    width: 300px;
    right:  5%;
    top: 5%;
    &__info {
        color: white;
        text-align: justify;
    }
    &__lampAcount {
        width: 70px;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        border: 1px solid black;
        padding: 5px 10px;
        font-size: 20px;
        outline: none;
        
    }
    &__button {
        width: 60px;
        height: 15px;
        background-color: rgb(73, 21, 21);
        position: relative;
        &::after {
            content: "";
            height: 40px;
            width: 5px;
            background-color: red;
            position: absolute;
            left: 50%;
            bottom: 15px;    
            border-radius: 5px;
            transform: translate(-50%) rotate(-60deg);
            transform-origin: bottom;
            transition: all 1s;
        }
        &_active::after {
            transform: translate(-50%) rotate(60deg);
            background-color: green;
        }
    }    
}
