* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(41, 41, 41);
}

body {
    min-height: 100vh;
    height: 100%;
}

body, h1, h2, h3, h4, h5, h6, ul, ol, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.page-container {
    width: 100%;
    padding: 0 10px;
}

.page-container_background-dark {
    background-color: rgba(0, 0, 0, 0.8);
}

.page-container_background-light {
    background-color: #f6f6f6;
}

.page-container_background-light-two {
    background-color: #fafafa;
}

.page-container_background-light-three {
    background-color: #f2f2f2;
}

.page-container_background-light-pink {
    background-color: #f9f0eb;
}

.page-container_margin-top {
    margin-top: 20px;
}