* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(41, 41, 41);
}

body {
    min-height: 100vh;
    height: 100%;
}

body, h1, h2, h3, h4, h5, h6, ul, ol, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.page-container {
    width: 100%;
    padding: 0 10px;
}

.page-container_background-dark {
    background-color: rgba(0, 0, 0, 0.8);
}

.page-container_background-light {
    background-color: #f6f6f6;
}

.page-container_background-light-two {
    background-color: #fafafa;
}

.page-container_background-light-three {
    background-color: #f2f2f2;
}

.page-container_background-light-pink {
    background-color: #f9f0eb;
}

.page-container_margin-top {
    margin-top: 20px;
}
.nav-container {
    max-width: 1050px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container_vertical-padding {
    padding: 10px 0;
}

.nav-container__link {
    display: flex;
    flex-direction: column;
}

.nav-container__link:hover, .nav-container__link:hover .nav-container__link__svg__patch {
    color: lightgray;
    fill: lightgray;
}

.nav-container__link_white {
    color: white;
}

.nav-container__link_black {
    color: black;
}

.nav-container__item-name {
    padding: 10px 0 5px 0;
}
.section-container {
    max-width: 1050px;
    width: 100%;
    margin: auto;
}

.section-container_flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.section-container_flex-reverse {
    flex-direction: row-reverse;
}

.section-container_column {
    flex-direction: column;
}

.section-container_compare {
    background: url(./assets/images/howtoshoot_large_2x.jpg) no-repeat;
    background-size: contain;
    padding: 232px 0;
    max-width: 1140px;
    height: 676px;
}

.section-container_extra-width {
    max-width: 1250px;
}

.section-container_padding {
    padding: 25px;
}

.section-container_padding-bottom-none {
    padding-bottom: 0;
}

.section-container_center {
    text-align: center;
}

.section-container__title-h2 {
    margin: 20px 0;
    font-size: 45px;
}

.section-container__title-h2_white {
    color: white;
}

.section-container__title-h2_margin {
    margin: 20px 30px;
}

.section-container__title-h3 {
    font-size: 30px;
}

.section-container__container-for-content {
    width: 500px;
    flex-shrink: 0;
    margin: 0 10px;
}

.section-container__container-for-content_extra-width {
    width: 560px;
}

.section-container__container-for-content_extra-margin {
    margin: 20px 10px;
}

.section-container__container-for-content_padding {
    padding: 20px 30px;
}

.section-container__container-for-content_padding-top {
    padding-top: 20px;
}

.section-container__container-for-content_with-height {
    height: 540px;
}
/* висота не обовязкова ставлю для того щоб в контейнері під картинкою фон був ідентичиний картинці як і напроти. Свого роду костиль */
.section-container__container-for-content_with-extra-height {
    min-height: 705px;
}

.section-container__container-for-content_airpods {
    background: url(./assets/images/airpods_large_2x.jpg) no-repeat 0 240px;
    background-size: contain;
    background-color: #fafafa;
}

.section-container__container-for-content_accessories {
    background: url(./assets/images/accessories_large_2x.jpg) no-repeat 0 240px;
    background-size: contain;
    background-color: #fafafa;
}

.section-container__container-for-content_background {
    background-color: #fafafa;
}

.section-container__container-for-dato {
    margin: 20px 0;
}

.section-container__container-for-dato__text {
    color: #888;
    margin: 0 15px;
}

.section-container__link {
    display: block;
    margin: 50px 0 0 0;
    color: #0070c9;
    font-size: 22px;
}

.section-container__link::after {
    content: ' >';
}

.section-container__link:hover {
    text-decoration: underline;
}

.section-container__image {
    width: 650px;
    margin: 50px 0;
}

.section-container__image_extra-width {
    width: 1050px;
}

.section-container__image_for-content-block {
    width: 560px;
}

.section-container__image_margin-bottom-none {
    margin-bottom: -3px;
}

.section-container__text {
    text-align: justify;
    margin: 0 50px;
}
.footer-container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding: 15px 0 150px 0;
}

.footer-container__copyrigting {
    color: #888;
    font-size: 11.5px;
}

.footer-container__navigation {
    margin: 30px 0;
}

.footer-container__navigation__link {
    color: #555;
    padding: 0 15px;
    border-right: 1px solid #d6d6d6;
}

.footer-container__navigation__link:first-of-type {
    padding-left: 0;
}

.footer-container__navigation__link:last-of-type {
    border: none;
}

.footer-container__navigation__link:hover {
    text-decoration: underline;
}




/*# sourceMappingURL=h_w_6.css.map*/