* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 710px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-page {
  background: url("../assets/photo-1449247709967-d4461a6a6103.png") center 100% no-repeat;
  height: 100vh;
  background-size: cover;
  position: relative;
}

.nav-page {
  position: absolute;
  width: 150px;
  height: 100%;
  background-color: #fff;
  z-index: 10;
}

.menu-page {
  position: absolute;
  width: 0;
  height: 100%;
  right: 0;
  background-color: #fff;
  z-index: 10;
  transition: all 0.5s;
}

.menu-page_active {
  width: 370px;
}

.menu-page_active .menu-page__list, .menu-page_active .menu-page__link {
  display: block;
}

.menu-page__element {
  display: flex;
  align-items: center;
  margin: 45px 0;
  justify-content: flex-end;
}

.menu-page__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu-page__list {
  display: none;
  list-style: none;
  z-index: 20;
}

.menu-page__element-link {
  text-decoration: none;
}

.menu-page__link {
  display: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  margin: 50px 0;
  padding: 20px 0;
}

.menu-page__link:hover {
  position: relative;
}

.menu-page__link:hover::after {
  content: '';
  width: 80%;
  position: absolute;
  left: 50%;
  top: 35px;
  transform: translateX(-50%);
  border-bottom: 2px solid blue;
  padding-bottom: 18px;
}

.menu-page__title {
  text-transform: uppercase;
  color: lightgray;
  margin-right: 35px;
  justify-self: baseline;
}

.menu-btn {
  height: 65px;
  width: 65px;
  position: absolute;
  z-index: 20;
  border: none;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 10px gray;
  top: 25px;
  right: 25px;
}

.menu-btn_active .menu-btn__element:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.menu-btn_active .menu-btn__element:nth-child(2) {
  opacity: 0;
}

.menu-btn_active .menu-btn__element:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.menu-btn__container {
  height: 15px;
  width: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-btn__element {
  border-bottom: 2px solid blue;
  transition: all 0.5s;
}

.page-header {
  position: relative;
  top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__background-title {
  text-transform: uppercase;
  color: #e9e9e9;
  font-size: 250px;
}

.page-header__title {
  text-transform: uppercase;
  font-size: 130px;
  font-weight: 300;
  margin: 10px;
}

.page-header__title_smaller {
  font-size: 20px;
}

.page-header__btn {
  text-transform: uppercase;
  background-color: #0023ff;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 12px 24px;
  margin: 10px;
}

.page-header__btn:active {
  background-color: #0023aa;
}

@media all and (max-width: 1100px) {
  .page-header__background-title {
    font-size: 200px;
  }
}

@media all and (max-width: 1000px) {
  .page-header__background-title {
    font-size: 170px;
  }
}

@media all and (max-width: 900px) {
  .page-header__background-title {
    font-size: 135px;
  }
}