@import 'mixins.scss';
* {
    box-sizing: border-box;
}


body {
    @include resetIndents;
    font-family: sans-serif;
    font-size: 16px;
    height: 100vh;
}

.container {
    @include resetIndents;
    height: 100%;
    list-style: none;
    display: flex;        
    flex-direction: column;
    flex-wrap: wrap;
    &__item {  
        position: relative;
        min-width: 200px;         
        background-image: url('https://source.unsplash.com/random?city,landscape');
        background-position: center;
        background-size: cover;
        display: flex;
        flex-grow: 1;
        
        cursor: pointer;
        transition: he 0.5s;
        /* filter: brightness(0.3); */
        &:hover .container__line {
            background-color: red;
        }
        
    }
    &__box {
        
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        cursor: pointer;
        
    }
    &__title {
        margin: 25px 15px;
        font-size: 50px;
        color: white;
        text-shadow: 0px 0px 15px black;
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }
    &__temp {
        font-size: 30px;
        color: white;
        text-shadow: 0px 0px 15px black;        
    }
    &__icon {
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow:  0px 0px 10px 10px rgba(255, 255, 255, 0.7);
        border-radius: 25px;
        margin-bottom: 25px;        
    }   
    &__input {
        margin: 45px;
        font-size: 25px;
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow:  0px 0px 10px 10px rgba(255, 255, 255, 0.7);
        border: none;
        text-align: center;
    }
    &__btn {
        position: absolute;
        height: 35px;
        width: 35px;
        top: 25px;
        right: 25px;
    }
    &__line {
        position: absolute;
        height: 4px;
        width: 100%;
        top: 50%;
        border-radius: 2px;
        background-color: rgba(255, 0, 0, 0.2);
        transition: background-color 0.7s;
        &:first-child {            
            transform: translateY(-50%) rotate(45deg);
        }
        &:last-child {
            transform: translateY(-50%) rotate(-45deg);
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #000000a1;
        background-size: cover;
        position: absolute;
        z-index: 10;
        background-color: #fff;
        &:hover .container__line {
            background-color: red;
        }
    }
    &__block {
        text-align: center;
        
    }
    &__element { 
        display: flex;
        justify-content: space-between;
        
        &:nth-child(even){
            background-color: whitesmoke;
        }
    }
    &__text + &__text {
        padding-left: 25px;
    }
    
}