@import 'mixins.scss';
* {
    box-sizing: border-box;
}


body {
    @include resetIndents;
    font-family: sans-serif;
    font-size: 16px;
    height: 100vh;
}

.container {
    @include resetIndents;
    height: 100%;
    list-style: none;
    display: flex;        
    flex-direction: column;
    flex-wrap: wrap;
    &__item {  
        min-width: 200px;         
        background-image: url('https://source.unsplash.com/random?ukraine');
        background-size: cover;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        cursor: pointer;
        /* filter: brightness(0.3); */
    }
    &__title {
        margin: 25px 15px;
        font-size: 50px;
        color: white;
        text-shadow: 0px 0px 15px black;
    }
    &__temp {
        font-size: 30px;
        color: white;
        text-shadow: 0px 0px 15px black;        
    }
    &__block {
        position: fixed;
        width: 85vw;
        height: 85vh;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    } 
    &__icon {
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow:  0px 0px 10px 10px rgba(255, 255, 255, 0.7);
        border-radius: 25px;
        margin-bottom: 25px;        
    }   
}

